.dropdown-toggle, .dropdown-item{
    cursor: pointer;
}
a.nav-link {
    color: tan !important;
}
a.nav-link.active{
    color: tomato !important;
}
.navbar-dark .navbar-brand{
    color: tomato !important;
}
/* .navbar-brand.active{
    color: tomato !important;
} */
/* .navbar-dark{
    color: tan !important;
} */
a.dropdown-toggle.text-light {
    color: tan  !important;
}
a.text-light:hover {
    color:tomato  !important;
}
a.dropdown-item {
    color: tan !important;
}
.dropdown-item{
    background-color: #343a40!important;
}
.dropdown-menu{
    background-color: #343a40!important;
}
.dropdown-item:hover{
color: tomato !important;
}
